<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spring ES6 Application</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="{{#url}}/css/main.css{{/url}}">
    <script src="{{#url}}/lib/system.js{{/url}}"></script>
    <script>
        System.config({baseURL: "/{{#info}}appversion{{/info}}"});
    </script>
    <script src="{{#url}}/config.js{{/url}}"></script>
    <script>
        System.import('app/app');
    </script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 id="greeting">{insert greeting here}</h1>
    </div>
</div>
</body>
</html>